<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup>     
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <connectionStrings>
    <add name="DSMarketConexion" connectionString="Data Source=JDIAZ0624; User=sa; Password=!@Pa$$W0rd!@0624; Initial Catalog=DSMarket;Integrated Security=False"
      providerName="System.Data.SqlClient" />
  </connectionStrings> 
</configuration>