<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DSMarket.Data.Properties.Settings.DSMarketConnectionString"
            connectionString="Data Source=JDIAZ0624;Initial Catalog=DSMarket;User ID=sa"
            providerName="System.Data.SqlClient" />
        <add name="DSMarket.Data.Properties.Settings.DSMarketConnectionString1"
            connectionString="Data Source=172.26.24.199;Initial Catalog=DSMarket;User ID=sa"
            providerName="System.Data.SqlClient" />
        <add name="DSMarket.Data.Properties.Settings.DSMarketConnectionString2"
            connectionString="Data Source=172.26.24.199;Initial Catalog=DSMarket;User ID=SA"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>